
<div class="container-fluid footer sticky-footer">
  <div class="row">
      <div class="col-lg-6">
          <h1>Cake&Cookies</h1>
          <p>Appropriate from the little children to senior individuals anybody can eat our
            cake with no question in their brain. We get our bread shop
            items tried by the business specialists to guarantee nature all things considered.</p>
      </div>
      <div class="col-lg-4">
          <a routerLink ="Home" routerLink="home" routerLinkActive="active-link">Home</a>
          <a routerLink ="Menu" routerLink="menu" routerLinkActive="active-link">Menu</a>
          <a routerLink ="Login" routerLink="login" routerLinkActive="active-link">Login</a>
          <a routerLink ="Register" routerLink="register" routerLinkActive="active-link">Register</a>


      </div>
      <div class="col-lg-2">
          <a href="https://www.facebook.com
          "><i class="fa fa-facebook-square" aria-hidden="true">   facebook</i>
          </a>
          <a href="https://www.google.com/"><i class="fa fa-google-plus" aria-hidden="true">   Google</i>
          </a>
      </div>
  </div>
</div>
