<app-menu></app-menu>
<div class="container mt-5" >
  <div class="card">
  <div class="row">
    <div class="col-md-4">
      <img src="../../../assets/cakeimgs/pineapple3.jpg" class="img-fluid">
      </div>
      <div class="col-md-8">
         <h3 class="card-title mt-2"> Pineapple With Butterscotch Cake- Half Kg</h3>
         <h5>Product Details:<br>
          Cake Flavour- Pineapple <br>
          Type of Cake- Cream <br>
          Weight- Half Kg <br>
          Serves- 4-6 People <br>
          Size- 6 inches in Diameter</h5>
          <button class="btn btn-success">Read More</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="card">
  <div class="row">
    <div class="col-md-4">
      <img src="../../../assets/cakeimgs/pineapple3.jpg" class="img-fluid">
      </div>
      <div class="col-md-8">
         <h3 class="card-title mt-2"> Pineapple With Butterscotch Cake- Half Kg</h3>
         <h5>Product Details:<br>
          Cake Flavour- Pineapple <br>
          Type of Cake- Cream <br>
          Weight- Half Kg <br>
          Serves- 4-6 People <br>
          Size- 6 inches in Diameter</h5>
          <button class="btn btn-success">Read More</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="card">
  <div class="row">
    <div class="col-md-4">
      <img src="../../../assets/cakeimgs/pineapple3.jpg" class="img-fluid">
      </div>
      <div class="col-md-8">
         <h3 class="card-title mt-2"> Pineapple With Butterscotch Cake- Half Kg</h3>
         <h5>Product Details:<br>
          Cake Flavour- Pineapple <br>
          Type of Cake- Cream <br>
          Weight- Half Kg <br>
          Serves- 4-6 People <br>
          Size- 6 inches in Diameter</h5>
          <button class="btn btn-success">Read More</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="card">
  <div class="row">
    <div class="col-md-4">
      <img src="../../../assets/cakeimgs/pa1.jfif" class="img-fluid">
      </div>
      <div class="col-md-8">
         <h3 class="card-title mt-2"> Pineapple With Butterscotch Cake- Half Kg</h3>
         <h5>Product Details:<br>
          Cake Flavour- Pineapple <br>
          Type of Cake- Cream <br>
          Weight- Half Kg <br>
          Serves- 4-6 People <br>
          Size- 6 inches in Diameter</h5>
          <button class="btn btn-success">Read More</button>
      </div>
    </div>
  </div>
</div>




