<div class="container11">
<div fxLayoutAlign="center center" fxFlexFill class="main-div" style="background-image: url(../../assets/cakeimgs/img3.jpg); background-size: cover;"  >
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <mat-form-field >
        <input matInput placeholder="UserName" >
      </mat-form-field>

      <mat-form-field >
        <input matInput type="password" placeholder="Password" >
      </mat-form-field>
      <button mat-raised-button type="submit">Login</button>

       <a class="forget" href="#">Forget Password ?</a>
			<p> Dont have an Account ?</p>
			<a mat-button>Register Here</a>
    </form>

  </mat-card>
</div>
</div>
