<div class="main-content">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div *ngIf="cartItems.length > 0">

        <table class="table table-bordered">
          <tr>
            <th width="20%">Cake Image</th>
            <th width="50%">Cake Price</th>
            <th width="30%"></th>
          </tr>

          <tr *ngFor="let tempCart of cartItems" >
            <td>
              <img src="{{ tempCart.imageUrl }}" class="img-responsive" width="150px" />
            </td>
            <td>
                <p>{{tempCart.name}}</p>
              <p>{{tempCart.prodprice | currency: 'INR'}}</p>
            </td>
            <td>
              <div class="items">
                <label >Quantity:</label>
                <div class="row no-gutters">
                  <div class="col">
                    <button (click)="incrementQuantity(tempCart)" class="btn-btn-primary btn-sm">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>

                  <div class="col ml-4 mr-2">
                    {{ tempCart.quantity}}
                  </div>

                  <div class="col">
                    <button  (click)="decrementQuantity(tempCart)"class="btn-btn-primary btn-sm">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>

                  <div class="col-8"></div>

                </div>
              </div>
              <p class="mt-2">Subtotal: {{ tempCart.quantity * tempCart.prodprice | currency: 'INR' }}</p>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td style="font-weight: bold">
                <p>Total Quantity: {{ totalQuantity }}</p>

                <p>Total Price: {{ totalPrice | currency: 'INR' }}</p>
                <a routerLink="/checkout" class="btn btn-secondary" style="color: black; border-width: 2px 2px" >Checkout</a>
            </td>

          </tr>
        </table>
      </div>
      <div *ngIf="cartItems.length == 0" class="alert alert-warning col" role="alert">

                Your Shopping Cart Is Empty!!!
      </div>


      </div>
    </div>

</div>
