

<!-- headercart section starts here -->

<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-2">
          <div class="card shadow" style="width: 10rem;">
              <div class="inner">
                  <img src="../../assets/cakeimgs/all.jpeg" class="card-img-top" alt="...">
              </div>

              <div class="card-body text-center">
                <a (click)="onLoadAllcake()" class="btn btn-primary" >All Cake</a>
              </div>
            </div>
      </div>
      <div class="col-md-2">
          <div class="card shadow" style="width: 10rem;">
              <div class="inner">
                  <img src="../../assets/cakeimgs/pineAF.jpg" class="card-img-top" alt="...">
              </div>
              <div class="card-body text-center">
                <a (click)="onLoadpineapple()" class="btn btn-primary" >Pineapple</a>
              </div>
            </div>
      </div>
      <div class="col-md-2">
          <div class="card shadow" style="width: 10rem;">
              <div class="inner">
                  <img src="../../assets/cakeimgs/chocoF.jpg" class="card-img-top" alt="...">
              </div>
              <div class="card-body text-center">
                <a href="#" class="btn btn-primary">Chocolate </a>
              </div>
            </div>
      </div>
      <div class="col-md-2">
          <div class="card shadow" style="width: 10rem;">
              <div class="inner">
                  <img src="../../assets/cakeimgs/Red-VelvetF.jpg" class="card-img-top" alt="...">
              </div>
              <div class="card-body text-center">
                <a href="#" class="btn btn-primary">RedVelwet </a>
              </div>
            </div>
      </div>
      <div class="col-md-2">
          <div class="card shadow" style="width: 10rem;">
              <div class="inner">
                  <img src="../../assets/cakeimgs/BlackFF.jpg" class="card-img-top" alt="...">
              </div>
              <div class="card-body text-center">
                <a href="#" class="btn btn-primary">BlackForest</a>
              </div>
            </div>
      </div>

  </div>
</div>
<!-- headercart section end here -->
<!-- <app-pineapple></app-pineapple> -->

