<app-header></app-header>

<!-- product section starts here -->

<!--cards -->
<div class="row" style="display: contents;">
  <div *ngFor="let tempProduct of products">
    <div class="column">
      <div class="image">
        <img src="{{ tempProduct.imageurl }}" class="img-responsive" />
      </div>
      <div class="title">
        <h1>
          {{ tempProduct.name }}
        </h1>
      </div>
      <div class="des">
        <p>{{ tempProduct.description }}</p>
        <!-- <p>{{ tempProduct.prodweigth}}</p> -->
        <p>{{ tempProduct.prodprice | currency:'INR'}}</p>

        <button>ADD TO CART</button>
      </div>
    </div>
  </div>
</div>
<!--cards -->

<!-- product section ends here -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <div class="card shadow" style="width: 10rem">
        <div class="inner">
          <img
            src="../../assets/cakeimgs/pineAF.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body text-center">
          <!-- <a (click)="onLoadpineapple()" class="btn btn-primary">Pineapple</a> -->
          <a routerLink="/category/2" routerLinkActive="active-link" class="btn btn-primary">Pineapple</a>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card shadow" style="width: 10rem">
        <div class="inner">
          <img
            src="../../assets/cakeimgs/chocoF.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body text-center">
          <!-- <a (click)="onLoadchocolate()" class="btn btn-primary">Chocolate</a> -->
          <a routerLink="/category/3" routerLinkActive="active-link" class="btn btn-primary">Chocolate</a>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card shadow" style="width: 10rem">
        <div class="inner">
          <img
            src="../../assets/cakeimgs/Red-VelvetF.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body text-center">
          <!-- <a (click)="onLoadredvelvet()" class="btn btn-primary">RedVelvet </a> -->
          <a routerLink="/category/4" routerLinkActive="active-link" class="btn btn-primary">RedVelvet </a>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card shadow" style="width: 10rem">
        <div class="inner">
          <img
            src="../../assets/cakeimgs/BlackFF.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body text-center">
          <!-- <a (click)="onLoadblackforest()" class="btn btn-primary">BlackForest</a> -->
          <a routerLink="/category/5" routerLinkActive="active-link" class="btn btn-primary">BlackForest</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- headercart section end here -->
