.container {
  margin-block: 50px;
  background-color: whitesmoke;
  padding-top: 28px;
  padding-bottom: 28px;
}
.inner{
  overflow: hidden;
}
.inner img{
  transition: all 1.5s ease;
}
.inner:hover img{
  transform: scale(1.5);
}

