<div class="home1">

  <section id="home" class="home">
      <h1>Best Cake In Town</h1>
      <p>Everything We Bake, We Bake With Love.</p>
      <div class="home-btn">
         <button class="btn btn-light" (click)="onLoadOrder()">Order Now <i class="fa fa-arrow-right-circle"></i></button>
      </div>
  </section>
  </div>
<!-- img section ends here -->

  <!-- starts Featured Section here -->
  <div id="feature-section">
    <h1 class="feature-section-title">“We Love the Illusion of Birthdays every year but ignore the Reality Death.
       If death ends the story absolutely it is unreasonable to celebrate the day of birth, if death is the real beginning of Eternal life, isn't it even more unreasonable to celebrate a day which leads us to death and fear the day which leads us to life?”</h1>
    <div class="feature-content">
        <div class="col-3">
        <img src="../../assets/cakeimgs/celeb1.jpg" style="height: 160px;">
        <h1>Celebrate New year With Us</h1>
        <p>“I believe it's our responsibility to show our communities the value of all people and to take a stand for acceptance and inclusion.”</p>
        </div>
        <div class="col-3">
        <img src="../../assets/cakeimgs/celeb2.jpg">
        <h1>Celebrate your child birthday with Us</h1>
        <p> "The greatest gifts you can give your children are the roots of responsibility and the wings of independence."</p>
        </div>
        <div class="col-3">
        <img src="../../assets/cakeimgs/celeb4.jpg">
        <h1>Celebrate Anniversary With Us</h1>
        <p> “Any celebration meal to which guests are invited, be they family or friends, should be an occasion for generous hospitality.”</p>
        </div>
    </div>
</div>
 <!-- End Featured Section -->

